/Modulo_construcao_regras/Word_embeddings/
/Modulo_construcao_regras/Corpus
/Modulo_construcao_regras/__pycache__
/Modulo_tradutor/__pycache__
/Modulo_tradutor/.ipynb_checkpoints
/Modulo_tradutor/mbart-finetuned-pt-lgp-10000/
/Modulo_tradutor/mbart-finetuned-pt-lgp-20000/
/Modulo_tradutor/m2m-1_2B-35000
/Modulo_tradutor/m2m-418-35000
/Modulo_tradutor/mbart-finetuned-pt-lgp-35000
/Modulo_tradutor/mbart-finetuned-pt-lgp-35000-5-epochs
/Modulo_tradutor/m2m-1_2B-without-rules/
/Modulo_tradutor/m2m-418
/Modulo_tradutor/m2m-1_2B-35000
/Modulo_tradutor/mbart-large-50-many-to-many-mmt-finetuned-ept-to-lgp
Modulo_tradutor/mbart-large-50-many-to-many-mmt-finetuned-pt-to-lgp
Modulo_tradutor/saved_model
/Datasets