nltk
numpy
gensim==3.8.1
spacy==2.3.2
matplotlib
pyjarowinkler
phonemizer
unidecode
aiohttp
aiohttp_cors
torch
torchtext==0.10.0
scikit-learn
transformers
sentencepiece
datasets
evaluate
sacrebleu
ipython
rouge-score
jiwer
